* {
    box-sizing: border-box;
}

.img-container img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.img-container:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#altair {
    right: 15%;
    bottom: 10%;
    float: right;
}

.box{
    height: 50%;
}
body{
    background-color: #201D20;
}
